html {
  font-size: 16px;
  color: #3b555b;
}

body {
  margin: 0;
    font-family: 'Montserrat', sans-serif;
      font-weight: 600;
    background-color: whitesmoke;
    min-height: 100vh;
  }

h1,
h3 {
  margin: 0;
}
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.gap-md {
  gap: 1rem;
}

.wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.space-sm {
  margin: 1rem 0;
}

.space-md {
  margin: 1.5rem 0;
}

.space-lg {
  margin: 2rem 0;
}
.font-xxs {
  font-size: 0.8rem;
}
.font-xs {
  font-size: 1rem;
}
.font-md {
  font-size: 1.5rem;
}
.font-lg {
  font-size: 1.7rem;
}

.text-center {
  text-align: center;
}

.text-red {
  color: #b11a28;
}

.text-yellow {
  color: #e4c404;
}

.text-green {
  color: #4ca434;
}

.bkg-white {
  background: white;
}

.bkg-blue {
  background: #255daa;
  color: white;
}

.line-over-text {
  text-decoration: line-through;
}

.wrapper {
  padding: 1.5rem;
}
p {
  margin: 0;
}

.row-banner {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  border-bottom: 2px solid;
  padding: 0.5rem 1.5rem;
  position: sticky;
    position: -webkit-sticky;
    top: 0;
    background: white;
}
.row-banner-footer {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  border-bottom: 2px solid;
  padding: 0.5rem 1.5rem;
}
.sticky-header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
    z-index: 999;
    border-bottom: 2px solid;
  }

.img-mini {
  width: 2rem;
}
.video-max {
  max-width: 768px;
}

.logo {
  width: 10rem;
  }

.sticky-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  border-top: 2px solid;
}
.btn-action {
  font-size: 1rem;
    font-weight: 900;
    max-width: 500px;
    width: 100%;
  background-color: #b11a28;
  color: white;
  border-radius: 0;
  border: 0;
  padding: 1rem;
}